<div>
  <!-- Backdrop overlay -->
  <div
    class="backdrop"
    id="backdrop"
    onclick="closeNav()"></div>

  <nav
    id="mySidenav"
    class="sidenav"
    aria-label="Navigation principale">
    <div class="sidenav-header">
      <div class="sidenav-title">
        <strong>Navigation</strong>
        <span>{{ site.title }}</span>
      </div>
      <button
        type="button"
        class="closebtn"
        aria-label="Fermer le menu"
        onclick="closeNav()">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>

    <ul>
      {% assign links = site.data.navigation %} {% for link in links %} {%
      assign class = nil %} {% if page.url contains link.url %} {% assign class
      = 'active' %} {% endif %} {% if link.sublinks %}
      <li class="dropdown {{ class }}">
        <a
          href="javascript:void(0)"
          class="dropdown-toggle"
          onclick="toggleDropdown(this)">
          <i class="{{ link.icon }}"></i>
          <span>{{ link.title }}</span>
          <span
            class="caret fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu">
          {% for sublink in link.sublinks %}
          <li class="ddm">
            <a href="{{ site.baseurl }}{{ sublink.url }}">
              <i class="{{ sublink.icon }}"></i>
              <span>{{ sublink.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="{{ class }}">
        <a href="{{ site.baseurl }}{{ link.url }}">
          <i class="{{ link.icon }}"></i>
          <span>{{ link.title }}</span>
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
