<div>
  <!-- Floating menu button -->
  <button
    class="menu-btn"
    id="menuBtn"
    onclick="toggleNav()"
    aria-label="Toggle menu">
    <span class="hamburger"></span>
  </button>

  <!-- Backdrop overlay -->
  <div
    class="backdrop"
    id="backdrop"
    onclick="closeNav()"></div>

  <nav
    id="mySidenav"
    class="sidenav">
    <ul>
      {% assign links = site.data.navigation %} {% for link in links %} {%
      assign class = nil %} {% if page.url contains link.url %} {% assign class
      = 'active' %} {% endif %} {% if link.sublinks %}
      <li class="dropdown {{ class }}">
        <a
          href="javascript:void(0)"
          class="dropdown-toggle"
          onclick="toggleDropdown(this)">
          <i class="{{ link.icon }}"></i>
          <span>{{ link.title }}</span>
          <span
            id="caret"
            class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu">
          {% for sublink in link.sublinks %}
          <li class="ddm">
            <a href="{{ site.baseurl }}{{ sublink.url }}">
              <i class="{{ sublink.icon }}"></i>
              <span>{{ sublink.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="{{ class }}">
        <a href="{{ site.baseurl }}{{ link.url }}">
          <i class="{{ link.icon }}"></i>
          <span>{{ link.title }}</span>
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
